# ignore these file
.gitignore
.vscode/*
__pycache__/*
data/*
mnist/*
PHM/*
model/*
fft_fig_monitor/*
logger.py
test.py
usedataset.py
model_resnet.py
test2.py
encoder.py
gan.py
fft_vedio.py
zhu_BEGAN_2_D.py
translucent_surf.m
vibration_signal.mat
test.mat
online_test.mat
analyse_data.mat
